ul
{
list-style-type:none;
font-size:24px;
background-color:#3399FF;
width:40%;
padding:60px;
}
ul li
{
background-color:#CCE5FF;
margin:10px;
color:blue;
}
ul li:hover
{
color:white;
background-color:red;
text-decoration:underline;
}
ol
{
list-style-type:lower-alpha;
}