table tr,td,th
{
border:2px solid red;
border-collapse:collapse;
padding:5px;
}
table
{
width:100%;
height:auto;
}
td,th,tr
{
text-align:center;
}
td
{
height:50px;
vertical-align:bottom;
}
tr:nth-child(even)
{
background-color:yellow;
color:red;
}
tr:hover
{
background-color:pink;
color:blue;
}