#header
{
height:100px;
width:100%;
background-color:blue;
}
#banner
{
height:300px;
width:100%;
background-color:yellow;
overflow:hidden;
}
#intro
{
height:200px;
width:100%;
background-color:green;
overflow:hidden;
}
#box1
{
height:400px;
width:32%;
background-color:orange;
overflow:hidden;
float:left;
margin-right:2%;
}
#box2
{
height:400px;
width:32%;
background-color:red;
overflow:hidden;
float:left;
margin-right:2%;
}
#box3
{
height:400px;
width:31%;
background-color:orange;
overflow:hidden;
float:right;
}
#footer
{
height:100px;
width:100%;
background-color:brown;
clear:both;
}
body
{
width:80%;
margin:0px auto;
background-color:grey;
}
