h1
{
background-color:pink;
color:blue;
text-align:center;
text-shadow:4px 4px;
text-indent:10px;
line-height:100px;


}
h2
{
color:orange;
text-align:right;
text-shadow:15px 15px brown;

}
p4
{
color:#0000ff;

}
p
{
color:rgb(0,255,0);
}
.button
{
background-color:pink;
color:blue;
padding:5px;
width:100px;
}
p1
{
text-decoration:underline;
text-transform:lowercase;
letter-spacing:8px;



}
p2
{
text-decoration:line-through;
text-transform:capitalize;
letter-spacing:3px;
word-spacing:10px;
}
p3
{
text-decoration:overline;
text-transform:uppercase;
letter-spacing:-1px;
word-spacing:5px;

}


